<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="<%= title %>" name="description" />
        <meta content="" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="<%= base_url_template %>/assets/images/favicon.ico">

        <!-- App css -->
        <link href="<%= base_url_template %>/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<%= base_url_template %>/assets/css/jquery-ui.min.css" rel="stylesheet">
        <link href="<%= base_url_template %>/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="<%= base_url_template %>/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<%= base_url_template %>/assets/css/app.min.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="">
        
        <!-- Left Sidenav -->
        <div class="left-sidenav">           
            <!-- LOGO -->
            <div class="topbar-left">
                <a href="<%= base_url %>/<%= user.active_role.auth_group.auth_role.permission.application.prefix %>" class="logo">
                    <span>
                        <img src="<%= base_url_template %>/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>
                </a>
            </div>
            
            <div class="leftbar-profile p-3 w-100">
                <div class="media position-relative">
                    <div class="leftbar-user online">
                        <img src="<%= base_url_template %>/assets/images/users/user-9.jpg" alt="" class="thumb-md rounded-circle"> 
                    </div>                                                         
                    <div class="media-body align-self-center text-truncate ml-3">                        
                        <h5 class="mt-0 mb-1 font-weight-semibold"><%= user.user.name %></h5>   
                        <p class="text-uppercase mb-0 font-12"><%= user.active_role.auth_group.name %></p>                                         
                    </div>
                </div>
            </div>
            <ul class="metismenu left-sidenav-menu slimscroll">
                <li class="menu-label">Main</li>
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="monitor" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Dashboard</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/analytics-index.html"><i class="ti-control-record"></i>Analytics</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/crypto-index.html"><i class="ti-control-record"></i>Crypto</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/crm-index.html"><i class="ti-control-record"></i>CRM</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/projects-index.html"><i class="ti-control-record"></i>Project</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/ecommerce-index.html"><i class="ti-control-record"></i>Ecommerce</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/helpdesk-index.html"><i class="ti-control-record"></i>Helpdesk</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/hospital-index.html"><i class="ti-control-record"></i>Hospital</a></li> 
                    </ul>
                </li>

                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="grid" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Apps</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Email <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../apps/email-inbox.html">Inbox</a></li>
                                <li><a href="../apps/email-read.html">Read Email</a></li>
                            </ul>
                        </li>  
                        <li class="nav-item"><a class="nav-link" href="../apps/chat.html"><i class="ti-control-record"></i>Chat</a></li>
                        <li class="nav-item"><a class="nav-link" href="../apps/contact-list.html"><i class="ti-control-record"></i>Contact List</a></li>
                        <li class="nav-item"><a class="nav-link" href="../apps/calendar.html"><i class="ti-control-record"></i>Calendar</a></li>
                        <li class="nav-item"><a class="nav-link" href="../apps/invoice.html"><i class="ti-control-record"></i>Invoice</a></li>                        
                    </ul>
                </li>                   
                <li class="menu-label">Components</li>
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="package" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>UI Kit</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Elements <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/ui-bootstrap.html">Bootstrap</a></li>
                                <li><a href="../others/ui-animation.html">Animation</a></li>
                                <li><a href="../others/ui-avatar.html">Avatar</a></li>
                                <li><a href="../others/ui-clipboard.html">Clip Board</a></li>
                                <li><a href="../others/ui-files.html">File Manager</a></li>
                                <li><a href="../others/ui-ribbons.html">Ribbons</a></li>
                                <li><a href="../others/ui-dragula.html">Dragula</a></li>
                                <li><a href="../others/ui-check-radio.html">Check & Radio</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Advanced UI <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/advanced-rangeslider.html">Range Slider</a></li>
                                <li><a href="../others/advanced-sweetalerts.html">Sweet Alerts</a></li>
                                <li><a href="../others/advanced-nestable.html">Nestable List</a></li>
                                <li><a href="../others/advanced-ratings.html">Ratings</a></li>
                                <li><a href="../others/advanced-highlight.html">Highlight</a></li>
                                <li><a href="../others/advanced-session.html">Session Timeout</a></li>
                                <li><a href="../others/advanced-idle-timer.html">Idle Timer</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Forms <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/forms-elements.html">Basic Elements</a></li>
                                <li><a href="../others/forms-advanced.html">Advance Elements</a></li>
                                <li><a href="../others/forms-validation.html">Validation</a></li>
                                <li><a href="../others/forms-wizard.html">Wizard</a></li>
                                <li><a href="../others/forms-editors.html">Editors</a></li>
                                <li><a href="../others/forms-repeater.html">Repeater</a></li>
                                <li><a href="../others/forms-x-editable.html">X Editable</a></li>
                                <li><a href="../others/forms-uploads.html">File Upload</a></li>
                                <li><a href="../others/forms-img-crop.html">Image Crop</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Charts <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/charts-apex.html">Apex</a></li>
                                <li><a href="../others/charts-morris.html">Morris</a></li>
                                <li><a href="../others/charts-flot.html">Flot</a></li>
                                <li><a href="../others/charts-chartjs.html">Chartjs</a></li>
                                <li><a href="../others/charts-chartist.html">Chartist</a></li>
                                <li><a href="../others/charts-peity.html">Peity</a></li>
                                <li><a href="../others/charts-sparkline.html">Sparkline</a></li>
                                <li><a href="../others/charts-knob.html">Jquery Knob</a></li>
                                <li><a href="../others/charts-justgage.html">JustGage</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Tables <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/tables-basic.html">Basic</a></li>
                                <li><a href="../others/tables-datatable.html">Datatables</a></li>
                                <li><a href="../others/tables-responsive.html">Responsive</a></li>
                                <li><a href="../others/tables-editable.html">Editable</a></li>
                                <li><a href="../others/tables-footable.html">Footable</a></li>
                                <li><a href="../others/tables-jsgrid.html">Jsgrid</a></li>
                                <li><a href="../others/tables-dragger.html">Dragger</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Icons <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/icons-materialdesign.html">Material Design</a></li>
                                <li><a href="../others/icons-dripicons.html">Dripicons</a></li>
                                <li><a href="../others/icons-fontawesome.html">Font awesome</a></li>
                                <li><a href="../others/icons-themify.html">Themify</a></li>
                                <li><a href="../others/icons-typicons.html">Typicons</a></li>
                                <li><a href="../others/icons-feather.html">Feather</a></li>
                                <li><a href="../others/icons-emoji.html">Emoji</a></li>
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Maps <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/maps-google.html">Google Maps</a></li>
                                <li><a href="../others/maps-leaflet.html">Leaflet Maps</a></li>
                                <li><a href="../others/maps-vector.html">Vector Maps</a></li>  
                            </ul>
                        </li>  
                        <li>
                            <a href="javascript: void(0);"><i class="ti-control-record"></i>Email Template <span class="menu-arrow left-has-menu"><i class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="nav-second-level" aria-expanded="false">
                                <li><a href="../others/email-templates-basic.html">Basic Action Email</a></li>
                                <li><a href="../others/email-templates-alert.html">Alert Email</a></li>
                                <li><a href="../others/email-templates-billing.html">Billing Email</a></li>
                            </ul>
                        </li>   
                    </ul>                        
                </li>
                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="copy" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Pages</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-profile.html"><i class="ti-control-record"></i>Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-timeline.html"><i class="ti-control-record"></i>Timeline</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-treeview.html"><i class="ti-control-record"></i>Treeview</a></li>
                        <li class="nav-item"><a class="nav-link" href="../vertical-2/pages-starter.html"><i class="ti-control-record"></i>Starter Page</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-pricing.html"><i class="ti-control-record"></i>Pricing</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-tour.html"><i class="ti-control-record"></i>Tour</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-blogs.html"><i class="ti-control-record"></i>Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-faq.html"><i class="ti-control-record"></i>FAQs</a></li>
                        <li class="nav-item"><a class="nav-link" href="../pages/pages-gallery.html"><i class="ti-control-record"></i>Gallery</a></li>
                    </ul>
                </li>

                <li class="leftbar-menu-item">
                    <a href="javascript: void(0);" class="menu-link">
                        <i data-feather="lock" class="align-self-center vertical-menu-icon icon-dual-vertical"></i>
                        <span>Authentication</span>
                        <span class="menu-arrow">
                            <i class="mdi mdi-chevron-right"></i>
                        </span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">                       
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-login.html"><i class="ti-control-record"></i>Log In</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-login-alt.html"><i class="ti-control-record"></i>Log In-alt</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-register.html"><i class="ti-control-record"></i>Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-register-alt.html"><i class="ti-control-record"></i>Register-alt</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw.html"><i class="ti-control-record"></i>Re-Password</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-recover-pw-alt.html"><i class="ti-control-record"></i>Re-Password-alt</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen.html"><i class="ti-control-record"></i>Lock Screen</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-lock-screen-alt.html"><i class="ti-control-record"></i>Lock Screen-alt</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-404.html"><i class="ti-control-record"></i>Error 404</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-404-alt.html"><i class="ti-control-record"></i>Error 404-alt</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-500.html"><i class="ti-control-record"></i>Error 500</a></li>
                        <li class="nav-item"><a class="nav-link" href="../authentication/auth-500-alt.html"><i class="ti-control-record"></i>Error 500-alt</a></li>
                    </ul>
                </li>
            </ul>
            
        </div>

        <!-- Top Bar Start -->
        <div class="topbar">                  
            <!-- Navbar -->
            <nav class="navbar-custom">    
                <ul class="list-unstyled topbar-nav float-right mb-0">
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">
                            <img src="<%= base_url_template %>/assets/images/users/user-9.jpg" alt="profile-user" class="rounded-circle" /> 
                            <span class="ml-1 nav-user-name hidden-sm"><%= user.user.name %><i class="mdi mdi-chevron-down"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="<%= base_url %>/<%= user.active_role.auth_group.auth_role.permission.application.prefix %>/profile"><i class="dripicons-user text-muted mr-2"></i>Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<%= base_url %>/auth/logout"><i class="dripicons-exit text-muted mr-2"></i>Logout</a>
                        </div>
                    </li>
                </ul>
    
                <ul class="list-unstyled topbar-nav mb-0">  
                    <li>
                        <a href="<%= base_url %>/<%= user.active_role.auth_group.auth_role.permission.application.prefix %>">
                            <span class="responsive-logo">
                                <img src="<%= base_url_template %>/assets/images/logo-sm.png" alt="logo-small" class="logo-sm align-self-center" height="34">
                            </span>
                        </a>
                    </li>
                    <li>
                        <button class="button-menu-mobile nav-link">
                            <i data-feather="menu" class="align-self-center"></i>
                        </button>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="false" aria-expanded="false">                            
                            <span class="ml-1 p-2 bg-soft-classic nav-user-name hidden-sm rounded">System<i class="mdi mdi-chevron-down"></i></span>
                        </a>
                        <div class="dropdown-menu dropdown-lg dropdown-menu-left p-0">
                            <div class="row no-gutters">
                                <div class="col-md-12">
                                    <div class="divider-custom mb-0">
                                        <div class="divider-text bg-light">System</div>
                                    </div>
                                    <div>
                                        <% for( let i = 0; i < user.auth_user_roles.length; i++ ) { %>
                                            <a class="dropdown-item mb-2" href="<%= base_url %>/<%= user.auth_user_roles[i].auth_group.auth_roles.find(x => x.is_default == 1).permission.application.prefix %>">
                                                <%= user.auth_user_roles[i].auth_group.name %>
                                            </a>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="page-wrapper">

            <!-- Page Content-->
            <div class="page-content-tab">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Starter</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Starter</h4>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <footer class="footer text-center text-sm-left">
                    &copy; <%= (new Date()).getFullYear() %> <%= app_name %> <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by <%= team %></span>
                </footer><!--end footer-->
            </div>
            <!-- end page content -->
        </div>
        <!-- end page-wrapper -->

        


        <!-- jQuery  -->
        <script src="<%= base_url_template %>/assets/js/jquery.min.js"></script>
        <script src="<%= base_url_template %>/assets/js/jquery-ui.min.js"></script>
        <script src="<%= base_url_template %>/assets/js/bootstrap.bundle.min.js"></script>
        <script src="<%= base_url_template %>/assets/js/metismenu.min.js"></script>
        <script src="<%= base_url_template %>/assets/js/waves.js"></script>
        <script src="<%= base_url_template %>/assets/js/feather.min.js"></script>
        <script src="<%= base_url_template %>/assets/js/jquery.slimscroll.min.js"></script>
        <script src="<%= base_url_template %>/plugins/apexcharts/apexcharts.min.js"></script> 
        
        <!-- App js -->
        <script src="<%= base_url_template %>/assets/js/app.js"></script>
        
    </body>

</html>