<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
        <title><%= title %></title>

        <!-- App Icons -->
        <link rel="shortcut icon" href="<%= base_url %>/templates/assets/images/favicon.ico">

        <% include ./../../partials/HeaderStyle  %>
        <%- HeaderCss %>

    </head>
    <body class="fixed-left">  
        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>
            
        <div id="wrapper">
            <% include ./../../partials/Header %>
            <div class="content-page">
                <div class="content">
                    <% include ./../../partials/Sidebar %>
                    <%- body %>
                </div>
                <% include ./../../partials/Footer %>
            </div>
        </div>
      
        <% include ./../../partials/FooterScript %>
        <%- FooterJs %>
   
        <script src="<%= base_url %>/templates/assets/js/app.js"></script>
        <%- BottomJs %>
    </body>
</html>
