<%- contentFor('headForm') %>
<h4 class="font-18 m-b-5 text-center">Register</h4>
<p class="text-muted text-center">Get your Sanari account now.</p>

<%- contentFor('formulir') %>
<div class="form-group">
    <label for="useremail">Email</label>
    <input type="email" class="form-control" id="useremail" placeholder="Enter email">
</div>

<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username">
</div>

<div class="form-group">
    <label for="userpassword">Password</label>
    <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
</div>

<div class="form-group row m-t-20">
    <div class="col-12 text-right">
        <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Register</button>
    </div>
</div>

<%- contentFor('uses') %>
<!-- <div class="form-group m-t-10 mb-0 row">
    <div class="col-12 m-t-20">
        <p class="font-14 text-muted mb-0">By registering you agree to the Sanari <a href="#">Terms of Use</a></p>
    </div>
</div> -->

<%- contentFor('account') %>
<p class="text-white">Already have an account ? <a href="<%= base_url %>/auth/login" class="font-500 font-14 text-white font-secondary"> Login </a> </p>